.container {
  display: flex;
  width: 100vw;
  height: 100vh;

  &.has-pins {
    .sidebar {
      width: 400px;
      transition: width 2s;
    }
    app-map-controls {
      left: 350px;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  width: 0;
  flex-grow: 0;
  transition: width 2s;
}

.map {
  width: 100%;
  flex-grow: 1;
}

.scroll-container {
  position: relative;
  flex-grow: 1;
  height: 100%;
}

app-map-controls {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 100;
}
