.list-item {
  border-bottom: 1px solid #e7e7e7;
  padding: 15px 20px;
  cursor: pointer;
  h3 {
    margin: 0 0 5px 0;
    padding: 0;
  }
  p {
    margin: 0;
  }

  .list-header {
    margin-bottom: 10px;
  }
}
